.logo {
    margin-right: auto;
}

.logo img {
    width: 90px;
    height: 90px;
}


header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 1.1%;
    background-color: #24252a;
  }

  @font-face{
    font-family: 'Quitos';
    src: url(Schriftarten/quitos/Quitos.ttf)
  }

h1{
    font-family: 'Quitos';
}

body{
    background-color: black;
}

/* .championsleague img {
    height: 380px;
}

.news img {
    height: 380px;
}

.weather img {
    height: 380px;
} */

.patchnotes img {
    height: 380px;
}
.grid-container {
    display: grid;
    grid-template-columns: 750px 750px;
    grid-template-rows: 400px 400px;
    gap: 7px;
    grid-template-areas:
    "eins zwei"
    "drei vier"
    ;
    justify-content: center;
}
.item-1 {
    border-radius: 10px;
    grid-area: eins;
    position: relative;
    background-size: cover;
    height: 400px;
    width: 750px;
    background-image: url(Pictures/weather.png);
    background-repeat: no-repeat;
}
.item-2 {
    border-radius: 10px;
    grid-area: zwei;
    background-size: cover;
    height: 400px;
    width: 750px;
    background-image: url(Pictures/news.jpg);
    background-repeat: no-repeat;
}
.item-3 {
    border-radius: 10px;
    grid-area: drei;
    background-size: cover;
    height: 400px;
    width: 750px;
    background-image: url(Pictures/Championsleague.jpg);
    background-repeat: no-repeat;
}
.item-4 {
    border-radius: 10px;
    grid-area: vier;
    background-size: cover;
    height: 400px;
    width: 750px;
    background-image: url(Pictures/patchnotes.jpg);
    background-repeat: no-repeat;
}